:root {
  --color-black: #000;
  --color-black33: #333;
  --color-white: #fff;
  --color-light-gray: #f7f7fb;
  --color-gray: #d9d9d9;
  --color-light-blue: #a8c1ed;
  --color-button-background-gray: #e4e8ed;
  --color-button-text-gray: #b1b7ba;
  --color-orange: #f81;
  --color-orange-text: #ff831c;
  --color-green: #2e9511;
  --color-brown: #79430030;
  --color-dark-brown: #945b0040;
}

html {
  min-width: 375px;
  max-width: 500px;
  margin: 0 auto;
  background-color: #000;
}

body {
  font-family: 'Noto Sans JP', serif;
  line-height: 1.2;
  letter-spacing: 0.02em;
  background-color: var(--color-light-blue);
  border: #000 solid 1px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
}

.header-title {
  font-size: 18px;
  font-weight: 700;
}

.chat-section-container {
  padding-right: 70px;
  padding-left: 12px;
}

.chat-list-container.hidden {
  display: none;
}

.chat-list {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.chat-list-item {
  display: flex;
  gap: 8px;
}

.chat-message-flame {
  flex-grow: 1;
  padding: 6px 12px;
  background-color: var(--color-white);
  border-radius: 0 20px 20px;
}

.chat-message {
  font-size: 14px;
  font-weight: 500;
  color: var(--color-black);
}

.chat-question-flame {
  flex-grow: 1;
  border-radius: 12px;
}

.chat-question-header {
  padding: 8px;
  color: var(--color-white);
  text-align: center;
  background-color: var(--color-orange);
  border-radius: 12px 12px 0 0;
}

.chat-question-header-title {
  font-family: Roboto, serif;
  font-size: 18px;
  font-weight: 700;
}

.chat-question-body {
  padding: 12px;
  background-color: var(--color-white);
  border-radius: 0 0 12px 12px;
}

.chat-question-button-area {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  margin-top: 10px;
}

.chat-question-button {
  padding: 12px 0;
  font-size: 14px;
  font-weight: 700;
  color: var(--color-white);
  background-color: var(--color-orange);
  border: none;
  border-radius: 4px;
}

.chat-question-button:disabled {
  color: var(--color-button-text-gray);
  background-color: var(--color-button-background-gray);
}

.lead-image {
  width: 100%;
  height: auto;
}

.result-section-container {
  display: grid;
  grid-template-columns: 1fr;
}

.result-section-container-item {
  grid-row: 1 / -1;
  grid-column: 1 / -1;
  width: 100%;
  height: auto;
}

.result-image-fade-container {
  position: relative;
  margin: auto auto 58%;
  box-shadow: 0 0 12px 0 var(--color-dark-brown);
}

.result-image-fade-container-item {
  position: absolute;
  inset: 0;
  opacity: 0;
  animation: result-fade-animation 15s infinite linear;
}

.result-image-fade-item:first-child {
  animation-delay: 0s;
}

.result-image-fade-item:nth-child(2) {
  animation-delay: 5s;
}

.result-image-fade-item:last-child {
  animation-delay: 10s;
}

@keyframes result-fade-animation {
  0% {
    opacity: 0;
  }

  6% {
    opacity: 1;
  }

  40% {
    opacity: 1;
  }

  46% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

.result-image-fade {
  width: 91%;
  height: auto;
  margin: auto;
}

.what-section-container {
  display: grid;
  grid-template-columns: 1fr;
}

.what-section-container-item {
  grid-row: 1 / -1;
  grid-column: 1 / -1;
  width: 100%;
  height: auto;
}

.what-header {
  color: var(--color-white);
  text-align: center;
}

.what-header-title {
  font-size: 26px;
  font-weight: 700;
}

.what-explanation {
  font-size: 16px;
  font-weight: 500;
}

.what-detail {
  width: 89%;
  margin: auto auto 20%;
  font-size: 14px;
  font-weight: 500;
  color: var(--color-orange-text);
  text-align: justify;
}

.program-section-container {
  padding-bottom: 40px;
  background-color: var(--color-white);
}

.program-card-list-item {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 var(--color-brown);
}

.program-image-container {
  display: grid;
  grid-template-columns: 1fr;
}

.program-image-container-item {
  grid-row: 1 / -1;
  grid-column: 1 / -1;
}

.program-image {
  width: 90%;
  height: auto;
  margin: auto;
}

.program-card-image {
  width: 100%;
  height: auto;
  margin: auto;
}

.program-beginner-image {
  margin: auto 4px 4px auto;
}

.program-title {
  margin-top: 8px;
  font-size: 16px;
  font-weight: 500;
}

.program-summary {
  margin-top: 2px;
  font-size: 12px;
  font-weight: 500;
}

.program-lesson-arrow-container {
  position: relative;
}

.program-lesson-arrow {
  margin: 22% -1%;
  background-color: transparent;
}

.program-lesson-card-list {
  color: var(--color-black33);
}

.program-lesson-image {
  width: 100%;
  height: auto;
}

.program-lesson-text-wrapper {
  margin-top: 10px;
}

.program-lesson-title {
  font-size: 22px;
  font-weight: 700;
}

.program-lesson-summary {
  margin-top: 4px;
  font-size: 16px;
  font-weight: 500;
}

.program-lesson-list {
  margin-top: 10px;
  font-size: 12px;
  font-weight: 400;
}

.program-lesson-list-item {
  position: relative;
  display: inline;
  margin-right: 10px;
}

.program-lesson-list-item:not(:first-child)::before {
  position: absolute;
  left: -5px;
  content: '/';
  transform: translateX(-50%);
}

.detail-section-container {
  background: linear-gradient(180deg, #ff9239 0%, #ffe992 80%, #fff 100%);
}

.detail-rental-container {
  display: grid;
  grid-template-columns: 1fr;
}

.detail-image {
  grid-row: 1 / -1;
  grid-column: 1 / -1;
  width: 100%;
  height: auto;
}

.detail-rental-card {
  width: 89%;
  height: auto;
  margin: 80% 20px auto;
  color: var(--color-black33);
  background-color: var(--color-white);
  border-radius: 8px;
}

.detail-rental-card-container {
  padding-top: 20px;
  padding-bottom: 20px;
}

.detail-rental-title {
  font-size: 14px;
  font-weight: 500;
  text-align: center;
}

.detail-rental-contents {
  display: flex;
  align-items: center;
  justify-content: center;
}

.detail-rental-list {
  margin-left: 10px;
  font-size: 12px;
  font-weight: 500;
}

.detail-shop-card {
  width: 89%;
  margin: 40px auto auto;
  background-color: var(--color-light-gray);
  border-radius: 8px;
}

.detail-shop-header {
  display: flex;
  height: 56px;
  color: var(--color-white);
  background-color: var(--color-black33);
  border-radius: 8px 8px 0 0;
}

.detail-shop-name-container {
  display: grid;
  place-items: center start;
  width: calc(100% - 56px);
  margin-left: 10px;
  font-weight: 400;
}

.detail-shop-name {
  font-size: 20px;
}

.detail-shop-name-ruby {
  margin-left: 4px;
  font-size: 10px;
}

.detail-shop-category-container {
  display: grid;
  place-items: center;
  width: 56px;
  background: linear-gradient(90deg, #ff7718 0%, #ff852f 100%);
  border-radius: 0 8px 0 0;
}

.detail-shop-category {
  font-size: 12px;
  font-weight: 700;
  text-align: center;
}

.detail-shop-image {
  width: 100%;
  height: auto;
}

.detail-shop-body {
  font-size: 14px;
  font-weight: 500;
  color: var(--color-black33);
}

.detail-shop-row-first {
  display: flex;
}

.detail-shop-row {
  display: flex;
  border-top: 1px solid var(--color-gray);
}

.detail-shop-row-header {
  display: grid;
  place-items: center;
  width: 72px;
}

.detail-shop-row-data {
  width: calc(100% - 72px);
  padding: 0 10px;
  margin: 20px 0;
  border-left: 1px solid var(--color-gray);
}

.detail-shop-row-notes {
  font-size: 12px;
}

.detail-shop-row-breakdown {
  font-size: 10px;
}

.detail-banner {
  width: 89%;
  height: auto;
  margin: 20px auto auto;
}

.detail-banner-image {
  width: 100%;
  height: auto;
}

.detail-button-area {
  padding-bottom: 80px;
  margin: 40px 40px auto;
}

.detail-button-text-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.detail-button-text-icon {
  margin-top: 12px;
}

.detail-button-search {
  font-size: 14px;
  font-weight: 500;
  color: var(--color-black33);
  text-align: center;
}

.detail-button-campaign {
  font-size: 18px;
  font-weight: 700;
  color: var(--color-green);
}

.detail-button-image {
  width: 100%;
  height: auto;
  margin-top: 10px;
}
