:root {
  --color-black: #000;
  --color-white: #fff;
  --color-light-blue: #a8c1ed;
  --color-orage: #f81;
}

html {
  min-width: 375px;
  max-width: 375px; /* TODO: 500px に戻すの忘れず */
  margin: 0 auto;
  background-color: #000;
}

body {
  font-family: 'Noto Sans JP', serif;
  line-height: 1.2;
  letter-spacing: 0.02em;
  background-color: var(--color-light-blue);
  border: #000 solid 1px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
}

.header-title {
  font-size: 18px;
  font-weight: 700;
}

.chat-wrapper {
  padding-right: 70px;
  padding-left: 12px;
}

.chat-list {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.chat-list-item {
  display: flex;
  gap: 8px;
}

.chat-message-container {
  padding: 6px 12px;
  background-color: var(--color-white);
  border-radius: 0 20px 20px;
}

.chat-question-container {
  border-radius: 12px;
}

.chat-question-container-header {
  padding: 8px;
  color: var(--color-white);
  text-align: center;
  background-color: var(--color-orage);
  border-radius: 12px 12px 0 0;
}

.chat-question-header-title {
  font-family: Roboto, serif;
  font-size: 18px;
  font-weight: 700;
}

.chat-question-container-body {
  padding: 12px;
  background-color: var(--color-white);
  border-radius: 0 0 12px 12px;
}

.chat-question-button-area {
  display: flex;
  flex-direction: column;
  gap: 0.3125rem;
  margin-top: 10px;
}

.chat-question-button {
  height: 44px;
  font-size: 14px;
  font-weight: 700;
  color: var(--color-white);
  background-color: var(--color-orage);
  border: none;
  border-radius: 4px;
}

.chat-message-text {
  font-size: 14px;
  font-weight: 500;
  color: var(--color-black);
}

.image-wrapper {
  position: relative;
  margin-top: 40px;
}

.background-image {
  max-width: 100%;
  height: auto;
}

.result-lead {
  position: absolute;
  top: 0;
}

.z-index-1 {
  z-index: 1;
}

.photo {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -90%);
}
